{% load staticfiles %}
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'test1/favicon.ico' %}"/>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'test1:home'%}"><img src="{% static 'test1/favicon.ico'%}" ></a> 
    </div>
    
    <div class="navbar-body" style = "padding: 5px 1px 2px 300px;">
    <a class="navbar-brand" href="{% url 'test1:board'%}">게시판</a> 
    </div>
</nav>
{% block content %}{% endblock %}
</body>
</html>